<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Expense Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/viewTransaction">Transactions</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >Name: <%= req.session.user.name  %></a></li>
              <li><a class="dropdown-item" >Email: <%= req.session.user.email  %></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/editProfile">Edit Profile</a></li>
              <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
              <li><a class="dropdown-item text-danger" href="/delUser/<%= req.session.user._id  %>"><i class="fa-solid fa-trash"></i> Delete User</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>